In [2]:
#importação da biblioteca
import pandas as pd

In [5]:
#Leitura dos documentos
df1 = pd.read_excel('Aracaju.xlsx')
df2 = pd.read_excel('Fortaleza.xlsx')
df3 = pd.read_excel('Natal.xlsx')
df4 = pd.read_excel('Recife.xlsx')
df5 = pd.read_excel('Salvador.xlsx')

In [7]:
#Concatenação dos aruivos
df =pd.concat([df1,df2,df3,df4,df5])

In [8]:
df.head()

    Cidade       Data  Vendas  LojaID  Qtde
0  Aracaju 2018-01-01  142.00    1520     1
1  Aracaju 2018-01-01   14.21    1522     6
2  Aracaju 2018-01-01   71.55    1520     1
3  Aracaju 2018-01-01    3.01    1521     7
4  Aracaju 2018-01-01   24.51    1522     8

In [9]:
df.tail()

       Cidade       Data  Vendas  LojaID  Qtde
235  Salvador 2019-01-03   41.84    1034     1
236  Salvador 2019-01-03  126.29    1035     3
237  Salvador 2019-01-03   38.06    1036     3
238  Salvador 2019-01-03  139.64    1035     1
239  Salvador 2019-01-03  161.41    1037     3

In [14]:
#Apresenta uma amostra dos dados
df.sample(3)

        Cidade       Data  Vendas  LojaID  Qtde
235   Salvador 2019-01-03   41.84    1034     1
188      Natal 2019-01-02  178.11    1035     3
30   Fortaleza 2019-01-01   39.13    1005     6

In [17]:
df.dtypes

Cidade            object
Data      datetime64[ns]
Vendas           float64
LojaID             int64
Qtde               int64
dtype: object

In [18]:
#Alteração o tipo de dado de uma coluna
df['LojaID']=df['LojaID'].astype('object')

In [19]:
df.dtypes

Cidade            object
Data      datetime64[ns]
Vendas           float64
LojaID            object
Qtde               int64
dtype: object

In [20]:
df.head()

    Cidade       Data  Vendas LojaID  Qtde
0  Aracaju 2018-01-01  142.00   1520     1
1  Aracaju 2018-01-01   14.21   1522     6
2  Aracaju 2018-01-01   71.55   1520     1
3  Aracaju 2018-01-01    3.01   1521     7
4  Aracaju 2018-01-01   24.51   1522     8

In [21]:
#Caso df seja nulo, valor da soma
df.isnull().sum()

Cidade    0
Data      0
Vendas    0
LojaID    0
Qtde      0
dtype: int64

In [23]:
df.sample(15)

        Cidade       Data  Vendas LojaID  Qtde
82       Natal 2019-03-07  868.00    854     3
64       Natal 2019-02-22  704.00    853     4
213   Salvador 2019-01-02   42.12   1035     1
102    Aracaju 2018-01-01    7.29   1523     1
177   Salvador 2019-01-02   41.19   1037     2
108    Aracaju 2018-01-01   31.94   1520     8
124      Natal 2019-01-02   44.82   1034     3
37       Natal 2018-10-03  726.00    852     2
233      Natal 2019-01-03  172.40   1036     2
190   Salvador 2019-01-02   78.78   1035     3
8        Natal 2019-03-27  667.00    852     4
102  Fortaleza 2019-01-01   13.99   1004     3
18      Recife 2019-01-01   49.40    980     5
54   Fortaleza 2019-01-01   16.73   1002     5
187   Salvador 2019-01-02    3.85   1035     3

In [24]:
#Média de vendas
df['Vendas'].mean()

122.61180089485458

In [26]:
#Apagar valores nulos
df.dropna(inplace=True)

In [27]:
df['Vendas'].mean()

122.61180089485458

In [29]:
#Apagar valores nulos apenas de uma coluna
df.dropna(subset=['Vendas'])

       Cidade       Data  Vendas LojaID  Qtde
0     Aracaju 2018-01-01  142.00   1520     1
1     Aracaju 2018-01-01   14.21   1522     6
2     Aracaju 2018-01-01   71.55   1520     1
3     Aracaju 2018-01-01    3.01   1521     7
4     Aracaju 2018-01-01   24.51   1522     8
..        ...        ...     ...    ...   ...
235  Salvador 2019-01-03   41.84   1034     1
236  Salvador 2019-01-03  126.29   1035     3
237  Salvador 2019-01-03   38.06   1036     3
238  Salvador 2019-01-03  139.64   1035     1
239  Salvador 2019-01-03  161.41   1037     3

[894 rows x 5 columns]

In [31]:
df['Vendas'].mean()

122.61180089485458

In [32]:
#Criação de um nova coluna: Receita. Qtd * Vendas. A função .mul() multiplica.
df['Receita'] = df['Vendas'].mul(df['Qtde'])

In [33]:
df.head()

    Cidade       Data  Vendas LojaID  Qtde  Receita
0  Aracaju 2018-01-01  142.00   1520     1   142.00
1  Aracaju 2018-01-01   14.21   1522     6    85.26
2  Aracaju 2018-01-01   71.55   1520     1    71.55
3  Aracaju 2018-01-01    3.01   1521     7    21.07
4  Aracaju 2018-01-01   24.51   1522     8   196.08

In [34]:
#A maior receita
df['Receita'].max()

3544.0

In [35]:
#A menor receita
df['Receita'].min()

3.34

In [37]:
df.groupby('Cidade')['Receita'].sum()

Cidade
Aracaju       48748.25
Fortaleza     37913.97
Natal        167227.52
Recife        51936.51
Salvador      40596.73
Name: Receita, dtype: float64

## Datas

In [38]:
df['Data']=df['Data'].astype('int64')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: casting datetime64[ns] values to int64 with .astype(...) is deprecated and will raise in a future version. Use .view(...) instead.

In [39]:
df.dtypes

Cidade      object
Data         int64
Vendas     float64
LojaID      object
Qtde         int64
Receita    float64
dtype: object

In [40]:
#Transformar o tipo da coluna Data em tipo date
df['Data']=pd.to_datetime(df['Data'])

In [41]:
df.dtypes

Cidade             object
Data       datetime64[ns]
Vendas            float64
LojaID             object
Qtde                int64
Receita           float64
dtype: object

In [44]:
#Agrupar po ano - dt é datetime, ou seja, ao passar o parâmetro year busca na data o ano  
df.groupby(df['Data'].dt.year)['Receita'].sum()

Data
2018    118176.53
2019    228246.45
Name: Receita, dtype: float64

In [45]:
#Criação de uma coluna: Ano
df['Ano_Venda'] = df['Data'].dt.year

In [46]:
df.sample(5)

       Cidade       Data  Vendas LojaID  Qtde  Receita  Ano_Venda
120     Natal 2019-01-02  140.17   1036     2   280.34       2019
102  Salvador 2019-01-01   40.84   1034     3   122.52       2019
221     Natal 2019-01-02  142.23   1035     2   284.46       2019
229  Salvador 2019-01-02   43.08   1036     2    86.16       2019
57      Natal 2019-02-24  425.00    854     4  1700.00       2019

In [49]:
#Extração do mês e dia
df['mes_venda'], df['dia_venda']=(df['Data'].dt.month, df['Data'].dt.day)

In [50]:
df.sample(5)

,Cidade,Data,Vendas,LojaID,Qtde,Receita,Ano_Venda,mes_venda,dia_venda
133,Natal,2019-01-02,153.71,1035,1,153.71,2019,1,2
139,Recife,2019-03-02,141.16,980,7,988.12,2019,3,2
140,Fortaleza,2019-03-02,166.89,983,5,834.45,2019,3,2
83,Aracaju,2018-01-01,14.44,1520,5,72.20,2018,1,1
98,Recife,2019-01-01,137.34,981,8,1098.72,2019,1,1

In [55]:
#Coluna de trimestre
df['trimestre_venda'] = df['Data'].dt.quarter

In [56]:
df.sample(5)

,Cidade,Data,Vendas,LojaID,Qtde,Receita,Ano_Venda,mes_venda,dia_venda,semestre_venda,trimestre_venda
107,Salvador,2019-01-01,14.70,1035,1,14.70,2019,1,1,1,1
148,Salvador,2019-01-02,40.59,1037,3,121.77,2019,1,2,1,1
219,Natal,2019-01-02,19.67,1037,2,39.34,2019,1,2,1,1
125,Salvador,2019-03-02,25.00,1037,2,50.00,2019,3,2,1,1
19,Fortaleza,2019-01-01,18.86,1002,3,56.58,2019,1,1,1,1

In [61]:
df.pop('semestre_venda')

0      1
1      1
2      1
3      1
4      1
      ..
235    1
236    1
237    1
238    1
239    1
Name: semestre_venda, Length: 894, dtype: int64

In [63]:
df.sample(5)

,Cidade,Data,Vendas,LojaID,Qtde,Receita,Ano_Venda,mes_venda,dia_venda,trimestre_venda
97,Aracaju,2018-01-01,32.69,1521,5,163.45,2018,1,1,1
0,Salvador,2018-01-01,31.06,1037,3,93.18,2018,1,1,1
8,Aracaju,2019-01-01,12.16,1523,1,12.16,2019,1,1,1
226,Natal,2019-01-02,38.32,1035,2,76.64,2019,1,2,1
9,Salvador,2019-01-01,127.92,1036,1,127.92,2019,1,1,1

In [64]:
#Filtrar vendas, especificamente de um ano e um mês
vendas_mar_19 = df.loc[(df['Data'].dt.year == 2019)&(df['Data'].dt.month == 3)]

In [66]:
vendas_mar_19.sample(20)

,Cidade,Data,Vendas,LojaID,Qtde,Receita,Ano_Venda,mes_venda,dia_venda,trimestre_venda
82,Natal,2019-03-07,868.00,854,3,2604.00,2019,3,7,1
66,Natal,2019-03-24,559.00,853,2,1118.00,2019,3,24,1
139,Recife,2019-03-02,141.16,980,7,988.12,2019,3,2,1
139,Fortaleza,2019-03-02,141.16,980,7,988.12,2019,3,2,1
29,Natal,2019-03-09,646.00,854,2,1292.00,2019,3,9,1
123,Salvador,2019-03-02,127.45,1036,3,382.35,2019,3,2,1
135,Recife,2019-03-02,10.79,983,5,53.95,2019,3,2,1
111,Salvador,2019-03-02,147.35,1037,2,294.70,2019,3,2,1
125,Recife,2019-03-02,37.60,983,4,150.40,2019,3,2,1
129,Recife,2019-03-02,35.34,982,7,247.38,2019,3,2,1
141,Salvador,2019-03-02,9.08,1036,1,9.08,2019,3,2,1
121,Salvador,2019-03-02,100.70,1037,3,302.10,2019,3,2,1
124,Salvador,2019-03-02,44.82,1034,3,134.46,2019,3,2,1
135,Fortaleza,2019-03-02,10.79,983,5,53.95,2019,3,2,1
132,Recife,2019-03-02,17.49,983,5,87.45,2019,3,2,1
137,Recife,2019-03-02,51.99,983,3,155.97,2019,3,2,1
4,Natal,2019-03-09,699.00,853,3,2097.00,2019,3,9,1
131,Salvador,2019-03-02,63.48,1037,3,190.44,2019,3,2,1
136,Recife,2019-03-02,39.09,982,4,156.36,2019,3,2,1
119,Fortaleza,2019-03-02,152.30,982,7,1066.10,2019,3,2,1

## Visualização de Dados com Gráficos